{% extends 'base.html' %}
<title></title>
{% block title %}
{{ category.name }}
{% endblock %}
</title>

{% block content %}
<div class="span9">
	<ul class="thumbnails listing-products">
		{% for product in products %}
		<li class="span3">
			<div class="product-box">
				<!--						<span class="sale_tag">{{product.status}}</span>-->
				<a href="{{product.get_absolute_url}}">
					<img alt="" src="{{ product.image.url }}" width="500" height="500">
				</a><br/>
				<a href="{{product.get_absolute_url}}" class="title">
					{{ product.name }}
				</a><br/>
				<a href="#" class="category">
					{{ product.category }}
				</a>
				<p class="price">
					${{ product.price }}
				</p>
			</div>
		</li>
		{% endfor %}
	</ul>
	<hr>


	{% if is_paginated%}
	<div class="row">
		<div class="col">
			<div class="pagination pagination-small pagination-centered">
				<ul>
					<li class="page{% if not prev_url%} disabled {%endif%}">
						<a href="{{ prev_url }}">&lt;</a>
					</li>
					{% for n in products.paginator.page_range %}
					{% if products.number == n %}
					<li class="active">
						<a href="?page={{n}}" > {{n}} </a>
					</li>
					{% elif n > products.number|add:-3 and n < products.number|add:3 %}
					<li>
						<a href="?page={{n}}" > {{n}} </a>
					</li>
					{% endif %}

					{% endfor %}
					<li class="{% if not next %} disabled {%endif%}">
						<a href="{{ next }}">&gt;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{%endif%}

</div>
{% endblock %}
