{% extends 'base.html' %}
{% block title %}
Корзина
{% endblock%}

{% block content %}
<section class="main-content">
	<div class="row">
		<div class="span9">
			<h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Remove</th>
					<th>Image</th>
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				{% for item in cart %}
				{% with product=item.product %}
				<tr>

					<td><a href="{{product.get_absolute_url}}"><img alt="NoPhoto" src="{{ product.image.url }}"></a></td>
					<td>{{ product.name}}</td>
					<td>{{item.quantity}}</td>
					<td>${{item.price}}</td>
					<td>${{item.total_price}}</td>
				</tr>
				{% endwith %}
				{% endfor %}


				</tbody>
			</table>
			<hr>
			<p class="cart-total right">
				<strong>Общая сумма: </strong>${{cart.get_total_price}}<br>
			</p>
			<hr/>
			<p class="buttons center">
				<button class="btn" type="button">Update</button>
				<button class="btn" type="button">Continue</button>
				<button class="btn btn-inverse" type="submit" id="checkout">Checkout</button>
			</p>
		</div>
		{% include 'includes/category_card.html' %}
	</div>
</section>
{% endblock %}